
<div class="container">
<img src="/Assets/images/simran.jpg" alt=""width="550" height="700" style="float: left; padding: 10px;">
<br>
<p style="font-family: 'Times New Roman', Times, serif;font-size:xx-large;color:#d65282 ;">Hello Everyone! My name is Harsimran Kaur. I am from Chandigarh and I am fond of creative art work.I love to draw, I love to paint, I love to dance and to fill everything around me with creativity.Currently I am pursuing Software Engineering Technician Program from Centennial College and I have also done graduation in Computer Applications. Computers is something that I am interested in and creativity is what I am passionate about. This world will look dull if there will be no creativity. And creativity is what leads to innovation. This era har n number of platforms to show creativity. And digital platform is one of these. In this portfolio, I will be describing about my Projects that I am working on and also you have a contact page where you can send me your information about ideas or share information or enquire about my projects.
</p>
<br>
<a href="/Assets/Documents/HARSIMRAN K (1).pdf"style="text-align: center; color: grey"><h3><b>Click here to view my resume.</b></h3></a>
</div>
