<div class="container">
<img src="/Assets/images/homepic.jpg" alt="" width="700" height="600" style="margin-left: auto;margin-right: auto;display: block">
<br><br>
<a href="/About" style="text-align: center;"> <h4>Click here to go to about page. </h4></a>
<br><br>
</div>