<h3 style="color:grey">Here are some of the services I offer</h3>
<ul >
<li style="font-size: x-large;color: hotpink;">Graphic Designing
   <hr> <img src="/Assets/images/graphic.jpg" alt="graphic design image">
   
</li>
<hr>
<li style="font-size: x-large;color: hotpink;">HTML website making
    <hr> <img src="/Assets/images/html.jpg" alt="graphic design image">
</li>
<hr>
<li style="font-size: x-large;color: hotpink;">Pamphlet Making
    <hr> <img src="/Assets/images/pamphlet.gif" alt="graphic design image"> </li>

</ul>